@import "node_color.css";

.state_node_label
{
	-fx-fill: white;
}

.state_node_label:folded
{
	-fx-fill: black;
}

/* Node whose search state continuity may be unknown yet or not */
.state_node
{
	-fx-cursor: hand;
	-fx-fill: derive(-state_node_color, 0.0%);
}

.state_node:selected
{
	-fx-fill: derive(-state_node_color, -25.0%);
}
