#msgFlowScrollPane
{
   -fx-background-color: transparent;
}

/* Margin for a cool offset from the channel line edges to their nearest message box */
.msgInfoGridPane
{
	-fx-padding: 5 0 5 0;
}

.signatureLabel
{
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: blueviolet;
}

.msgLabel, #channelSeparator
{
	-fx-border-color: black;
}

.msgLabel, .msgGroupIdLabel
{
	-fx-border-width: 1px;
	-fx-font-size: 16px;
}

.msgLabel:intruderLearned
{
	-fx-text-fill: red;
}

#channelSeparator
{
	-fx-border-radius: 3px;
	-fx-border-width: 4px;
}

#channelSeparator > .line
{
	-fx-border-color: lightblue;
}

.msgGroupIdLabel
{
	-fx-padding: 5 10 5 10;
	-fx-text-fill: white;
	-fx-background-color: purple;
}
